---
layout: challenge-landing
nav: keyboard-challenge
custom-scripts:
  - toggle-cursor
---

<p class="caveat">Your mouse will be disabled for the duration of this challenge. <br> If you need it back for debugging, tab over to "fix my mouse" and hit your spacebar. Can't tab to links? You might need to <a href="https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Cross_browser_testing/Accessibility#Using_native_keyboard_accessibility">tweak your browser's settings</a>. Chrome should work by default.</p>
