@import "normalize";
@import "skeleton";

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

html, body {
  height: 100%;
}

body {
  font-size: 1.75em;

  &.challenge,
  &.challenge-landing,
  &.keyboard-challenge-landing {
    display: flex;
    min-height: min-content;
    flex-direction: column-reverse;

    .content {
      margin-top: 90px;
      text-align: center;
    }
  }

  &.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.content {
  flex: 1 0 auto;
  margin-top: 30px;
}
@media (min-width: 400px) {
  .content {
    margin-bottom: 35px;
    margin-left: -5px;
  }
}

header {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-family: "Coming Soon";
    font-size: 1em;
  }

  a, #toggle-cursor {
    font-weight: normal;

    &:focus {
      font-weight: 700;
    }
  }

  nav a {
    margin-left: 15px;
  }
}

.landing h1 {
  font-family: 'Coming Soon';
}

.challenge-title {
  h1 {
    font-size: 4.5em;
  }
  span {
    font-size: .4em;
    color: limegreen;
  }
}

h2 {
  font-family: "Coming Soon", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h2:not(:first-child){
  padding-top: 1rem;
}

// Bolder Bold
strong {
  font-weight: 700;
}

// Buttons and Links

a, *[role="link"], .btn-link {
  color: darken(limegreen, 10%);
  font-weight: bold;
}

// A buttons with the appearance of a link
// (not the behavior of a link!)
button.btn-link {
  background:none;
  border:none;
  padding:0;
  font: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  font-weight: bold;
  margin-bottom: 0;

  &:hover, &:focus {
    background: none;
  }

  &:focus {
    border-color: #ccc;
    border-color: rgba(82,168,236,.8);
    outline: 0;
    box-shadow: 0 0 14px rgba(82,168,236,.6)
  }
}

a:hover, a:focus,
*[role="link"]:hover, *[role="link"]:focus,
.btn-link:hover, .btn-link:focus {
  color: #0FA0CE;
}
*[role="link"], .btn-link{
  text-decoration: underline;
  cursor: pointer;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #eee;
}

// Special "to challenge" links
a.challenge {
  text-transform: uppercase;
  font-size: 1.1em;

  &:hover, &:focus {
    font-size: 2em;
  }
}

a.info, a.solution {
  font-size: .8em;
}

.challenge-links {
  margin-top: 35px;
}

.caveat {
  font-size: .8em;
  margin-top: 45px;

  &::before {
    content: "* ";
  }
}

// Lists
li p {
  display: inline;
}
