<nav>
  {% if layout.nav == "keyboard-challenge" or page.nav == "keyboard-challenge"%}
    <button type="button" id="toggle-cursor" class="btn-link">fix my mouse!</button>
    <a href="/{{ page.directory }}/info/">about this challenge</a>
  {% elsif layout.nav == "challenge" %}
    <a href="/{{ page.directory }}/info/">about this challenge</a>
  {% elsif layout.nav == "info" %}
    <a href="/{{ page.directory }}/challenge/">challenge</a>
    <a href="/{{ page.directory }}/sample-solution/">sample solution</a>
  {% endif %}
</nav>
